<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rákóczi DÖK | Karbantartás</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e3f2fd;
            color: #333;
        }
        h1, p{
            text-align: center;
            color: #1976d2;
            margin-top: 20px;
        }
        form {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin: 15px 0 5px;
            font-weight: bold;
            color: #555;
        }
        select, button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #1976d2;
            border-radius: 5px;
            font-size: 16px;
        }
        select:focus, button:focus {
            outline: none;
            border-color: #1565c0;
        }
        button {
            background-color: #1976d2;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #1565c0;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
            color: #777;
        }

        #img-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="img-container">
        <img style="width: 120px; height: 120px;" src="/data:logo" alt="DÖK Logó">
    </div>
        <h1>Kedves Felhasználó!</h1>
        <p>A DÖK rendszer jelenleg lezárás alatt áll, hamarosan újra elérhető lesz.<br>Köszönjük a türelmét és megértését!</p>
        <p>DÖK Csapat</p>
    
    <footer>
        &copy; 2024 Minden jog fenttartva. II. Rákóczi Ferenc Római Katolikus Iskola Diákönkormányzata.
    </footer>

    <script>
        function reload() {
            setTimeout(function(){
                window.location.reload();
                reload()
            }, 5000); // Refresh every 5000 milliseconds (5 seconds)

        }

        reload()
    </script> 
</body>
</html>
