<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rákóczi DÖK | Szövegek</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        iframe {
            width: 100%;
            height: 1000px;
        }
    </style>
</head>
<body>
    <h1>Szövegek</h1>
    <hr>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vRxpuqqLL0M_Z2_a4tsfvdCX6z5X_TNs5lU8AkbvUFwUKM6YBCSPmmr5BswUgZvxg/pub?embedded=true"></iframe>
    <hr>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTtAvNNYmQ6qnHFIcJslUlr291f1UoA2luLPqBijYi7lkAAFgnYSHcCQAw5-OYTOw/pub?embedded=true"></iframe>
    <script src="/script:auth-script"></script>
</body>
</html>
